
{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">


{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse sticky-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="font-weight: 650;">DREAM's Equipment management</a>
          <a class="navbar-brand" style="font-weight: 500; color: #337ab7;">[Device Pick/Return]</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li> -->
            <li><a href="{{ url_for('logout') }}" style="font-weight: 650;">Log Out</a></li>
          </ul>
          <!-- <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search for device">
          </form> -->
        </div>
      </div>
    </nav>
    <div class="container-fluid mt-2">
      <div class="row">
       <form action="{{url_for('dashboard')}}" method="GET">
         <div class="col-sm-3 col-md-2 sidebar btn-group-vertical" role="group" >
           <ul class="nav nav-sidebar navbar-light">
            <li style="font-weight: 500; font-size: x-large;">Lab's Equipment</li>
            <hr>
             <li class="active"><input type='submit' class='btn btn-link' style="color: rgb(18, 155, 18); font-weight: 600; font-size: larger; " name='radio' value='My Workbench' autocomplete="off"><span class="sr-only">(current)</span></input></li>
             <li><input type='submit' class='btn btn-link' name='radio'  value='All Devices' autocomplete="off" checked></input></li>
             <li><input type='submit' class='btn btn-link' name='radio'  value='Multimeter' autocomplete="off"></input></li>
             <li><input type='submit' class='btn btn-link' name='radio'  value='Power Supply' autocomplete="off"></input></li>
             <li><input type='submit' class='btn btn-link' name='radio'  value='Oscilloscope' autocomplete="off"></input></li>
             <li><input type='submit' class='btn btn-link' name='radio'  value='Signal generator' autocomplete="off"></input></li>
             <li><input type='submit' class='btn btn-link' name='radio'  value='MCU' autocomplete="off"></input></li>
             <li><input type='submit' class='btn btn-link' name='radio'  value='Sensor' autocomplete="off"></input></li>
             <li><input type='submit' class='btn btn-link' name='radio'  value='Other' autocomplete="off"></input></li>
             <hr>             
             {% if permission == 'admin' %}
             <li style="font-weight: 500; font-size: x-large;">Device management</li>
             <hr>
             <li><a href="/dashboard/ad_manage" style="color: chocolate;" >Manage devices</a></li>
             <!-- <li><a href="#" style="color: chocolate;" >Manage member</a></li> -->
             {% endif %}
            </ul>
         </div>
      </form>
{% endblock %}
{% block content %}
        <div>
          <h2 class="sub-header"> {{ name }} </h2>{% if permission == 'admin' %}<h4 style="color: chocolate;"> [{{ permission }}]</h4>{% endif %}
          <hr>
          <!-- <h3 class="sub-header">{{ filter }}</h3> -->
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Device</th>
                  <th>Type</th>
                  <th>Serial</th>
                  <th>Status</th>
                  <th>Description</th>
                  <th>Pick/Return</th>
                </tr>
              </thead>
              <tbody>
              {% for row in data %}
                <tr>
                  <td>{{ row.id }}</td>
                  <td>{{ row.device }}</td>
                  <td>{{ row.type }}</td>
                  <td>{{ row.serial }}</td>
                  <td>{{ row.status }}</td>
                  <!-- <td>{{ row.description }}</td> -->
                  <td><a class="btn btn-primary btn-sm" href="{{ row.description }}" name='infoLink' target="_blank">Device Infomation</a></td>
                  <form action="{{url_for('dashboard')}}" method="POST">
                  {% if row.status == 'Available' %}
                  <td>
                    <input type="hidden" name="deviceid" value={{row.id}}>
                    <input type="hidden" name="filter" value={{filter}}>                         
                    <button class="btn btn-success btn-sm" type="submit" name='subbt' value='Pick'>Pick</button>
                  </td>
                  {% elif row.status == name %}
                  <td>
                    <input type="hidden" name="deviceid" value={{row.id}}>
                    <input type="hidden" name="filter" value={{filter}}>             
                    <button class="btn btn-danger btn-sm" type="submit" name='subbt' value='Return'>Return</button>
                  </td>
                  {% elif row.status == 'Unavailable' %}
                  <td><button class="btn btn-secondary btn-sm" type="submit" name='subbt' value='Inuse' disabled>Unavailable</button></td>
                  {% else %}
                  <td><button class="btn btn-secondary btn-sm" type="submit" name='subbt' value='Inuse' disabled>In use</button></td>
                  {% endif %}
                  </form>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}